{% extends "index.html.twig" %}


{% block body %}
     По всем вопросам обращайтесь: <br/> Telegram: <a href="https://t.me/sproduce" class="btn btn-ssm btn-outline-primary m-1" target="_blank"><i class="fab fa-telegram"></i></a>https://t.me/sproduce<br/>
  E-mail : <strong>sproduce@gmail.com</strong>
 
{% endblock %}



{% block javascripts %}
      {{ parent() }}

{% endblock %}