{% extends "index.html.twig" %}


{% block header %}
    
{% endblock %}


{% block body %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Безопасность</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статистика</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
        </div>
    </div>
{% endblock %}



{% block javascripts %}
  {{ parent() }}

{% endblock %}